
.userdetails{
  background-color: transparent;
  border-color:  #009999;
  color:  #009999;
  fill: #009999;
  border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;
    margin-right: 20px;

}

.userdetails:hover{
  border: 1px solid;
}

.dropdown-item{
  color: #009999;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-item:hover{
  background-color: #009999;
  color: #f8f9fa;
}

.dropdown-menu{
  background-color: #f8f9fa;
  width: 150px ;
  height: 35px;
}
