<!-- nav bar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <i class="fas fa-utensils mr-2"></i>
            Recipe Book
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item"    *ngFor="let category of categories " >
              <a routerLink="/category/{{category.id}}"   routerLinkActive="active-link" class="nav-link nav-link-1 active" aria-current="page" href="#"> {{category.name}} </a>
          </li>
      </ul>
      </div>
  </div>
</nav>
